* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000 !important;
  color: #fff !important;
}
.css-1rjawl7 {
  background: #f56d6d !important;
  color: #fff !important;
}

.css-1abt8wl {
  background: #26e26b !important;
  color: #fff !important;
}
/* ::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollber-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */